@{
    ViewBag.Title = "Resume";
}

<div class="inside-sec">
    <!-- BIO AND SKILLS -->
    <h5 class="tittle">Bio & Skills</h5>
    <div class="bio-info padding-30">
        @Html.Action("BioSkills", "Home")
    </div>
</div>

<!-- Professional Experience -->
@Html.Action("Experience", "Home")

<!-- Academic Background -->
@Html.Action("AcademicBackground", "Home")