@{
    Layout = null;
}



    <div class="inside-sec margin-top-30">
        <!-- Academic Background -->
        <h5 class="tittle">Academic Background</h5>
        <div class="padding-30 exp-history">

            @Html.Action("RefreshAcademicBackground", "Dashboard")
            <!-- ADD EXP -->
            <form action="@Url.Action("AcademicBackgroundPost","Dashboard")" method="post">
                <div class="exp">
                    <div class="row">
                        <div class="col-sm-7">
                            <label>
                                Qualification
                                <input type="text" class="form-control" placeholder="YYYY - YYYY" name="Qualification">
                            </label>
                            <label>
                                Degree
                                <input type="text" class="form-control" placeholder="" name="Degree">
                            </label>
                            <label>
                                Institute / University Name
                                <input type="text" class="form-control" placeholder="" name="UniversityName">
                            </label>
                            <label>
                                Year of Obtention
                                <input type="text" class="form-control" placeholder="" name="YearOfObtention">
                            </label>
                        </div>

                        <!-- UPLOAD IMG -->
                        <div class="col-sm-5">
                            <label class="btn-file">
                                <i class="fa fa-camera"></i> Click to add diploma
                                <input type="file" style="display: none;" name="MediaUrl">
                            </label>
                        </div>

                        <!-- ADD DETAIL -->
                        <div class="col-sm-12">
                            <label>
                                Details
                                <textarea class="form-control" placeholder="" name="Details"></textarea>
                            </label>
                            <!-- ADD MORE -->
                            <button type="submit" class="btn margin-top-20"><i class="fa fa-plus"></i> Add Experience</button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>